:root {
  --background-colour: linear-gradient(90deg, rgb(0, 0, 0) 28%, rgb(71, 71, 71) 100%);
  --background-fade: linear-gradient(135deg, rgba(219, 207, 207, 0.5) 28%, rgba(87, 115, 153, 0.7) 100%);
  --primary-colour: #fe5f55;
  --secondary-colour: #495867;
  --tertiary-colour: #577399;
  --action-colour: #bdd5ea;
  --text-colour: #253237;
  --alt-text-colour: #f7f7ff;
  --alt-background-colour: #dbcfcf;
  --box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}



